<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="5A" value="35" />
    <add key="5B" value="36" />
    <add key="5C" value="38" />
    <add key="5D1" value="46" />
    <add key="5D2" value="46" />
    <add key="7A" value="39" />
    <add key="7B" value="40" />
    <add key="7C" value="45" />
    <add key="8B" value="42" />
    <add key="8C" value="43" />
    <add key="8D" value="44" />
    <add key="WILD" value="44" />
    <add key="PLUSIP" value="100" />
  </appSettings>
</configuration>